body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url('../imagens/fundo.png') repeat-x;
	width: 100%;
	padding: 0;
	margin:0;
}

#topo{
	margin: 0 auto;
	/*border: 1px solid blue;*/
	width: 60%;

}

#menu-horizontal{
	margin-top: 15px;
}

#menu-horizontal ul{
	border: 1px solid #84072a;
	list-style-type: none;
	background-color:#a30934;
	width: 80%;
	padding: 0;
	margin: 0;
	float: left;
}

#menu-horizontal li{
	/*border: 1px solid blue;*/
	float: left;

}	

#menu-horizontal a{
	/*border: 1px solid blue;*/
	display: block;
	color:white;
	text-decoration: none;
	padding: 0 1.85em;
	line-height: 2.3em;
	background: url('../imagens/divisor.png') no-repeat center left;
}

#menu-horizontal #primeiro-a{
	/*border: 1px solid blue;*/
	background: none;
}

#menu-horizontal #primeiro-a:hover{
	/*border: 1px solid blue;*/
	background-color: #ca0d41;
}

#menu-horizontal a:hover{
	background-color: #ca0d41;
}

#detalhe-topo{
	float:right;
	margin-top: -130px;
	margin-right: 100px;
}

#logo-cidade{
	padding-top: 10px;
}

.clear{
	clear: both;
}

/*************************** INFERIOR*************** *****/
#inferior{
	/*border: 1px solid blue;*/
	margin: 50px auto;
	float:center;
	width: 60%;
}
/*************************** INFERIOR*************** *****/

/*************************** Entrevista*************** *****/
#lateral-esquerda{
	/*border: 1px solid blue;*/
	float:left;
	width: 25%;
}

#entrevistas{
	/*border: 1px solid blue;*/
	background: url('../imagens/fundo-caixa.png');
	width: 90%;
	margin:0 auto;
	padding: 1px 10px;
}

#entrevistas h2{
	/*border: 1px solid blue;*/
	background-color: #2b4a6d;
	color: #fff;
	padding: 3px;
}

#entrevistas ul{
	/*border: 1px solid blue;*/
	list-style-type: none;
	padding: 0;
}

#entrevistas li{
	/*border: 1px solid blue;*/
	list-style-type: none;
	padding: 10px 10px 20px 10px; 
	background-color: #fff;
}

#entrevistas a{
	text-decoration: none;
	color: black;
}

/*************************** Fim Entrevista************ *****/

/*************************** Cadastro************ *****/
#box-cadastro{
	/*border: 1px solid blue;*/
	background: url('../imagens/fundo-caixa.png');
	margin-top: 10px;
}

#cadastro{
	/*border: 1px solid blue;*/
	width: 90%;
	padding: 1px 5px 15px 5px;
	margin: 0 auto;
}

#cadastro form{
	background-color: #fff;
	padding: 10px 0px;
}

#cadastro h2{
	border: 1px solid blue;
	/*border: 1px solid blue;*/
	background-color: #2b4a6d;
	color: #fff;
	padding: 3px;
}

#email-text{
	font-weight: 500;
}

#email{
	width: 200px;
	height: 30px;
}

#submit{
	background-color: #a30934;
	border: 1px solid #84072a;
	color: white;
	width: 100px;
	height: 40px;
	display: block;
}
/*************************** Fim Cadastro************ *****/

/***************************Lateral Direita***************/
#lateral-direita{
	/*border: 1px solid blue;*/
	float:right;
	width: 73%;
}

.box-conteudo{
	/*border: 1px solid blue;*/
	background: url('../imagens/fundo-caixa.png');
	float:left;
	width: 45%;
	margin-left: 10px;
	margin-bottom: 10px;
}

.conteudo{
	/*border: 1px solid blue;*/
	width: 90%;
	padding: 1px 5px 15px 5px;
	margin: 0 auto;
}

.conteudo img{
	width: 100%;
}

.conteudo h3{
	background-color: #2b4a6d;
	color: white;
	padding: 10px;
}

.conteudo h4{
	background-color: red;
	color: black;
	padding: 2px;
	display: inline;
}

.white-box{
	background-color: #fff;
}

.white-box a{
	color: #a30934;
}

.white-text{
	color:white;
}

.white-box h4 .white-text{
	color:white;
}

.white-box ul{
	/*border: 1px solid blue;*/
	list-style-type: none;
	padding: 2px;
	margin: 0;
}

.white-box li{
	/*border: 1px solid blue;*/
	border-bottom: 1px solid gray;
	margin-bottom: 10px: 
}

.white-box li img{
	/*border: 1px solid blue;*/
	width: 30%;
	margin: 0px;
	display: inline;
	float:left;
}

.white-box li p{
	/*border: 1px solid blue;*/
	font-size: 0.8em;
	display: inline;
}

.white-box li h6{
	/*border: 1px solid blue;*/
	margin: 0;
	padding: 3px;
	color: #2b4a6d;
}

.white-box li .content{
	/*border: 1px solid blue;*/
	width: 65%;
	float: right;
	margin: 0;
	padding: 0;
}

/***********************Fim Lateral Direita***************/

#rodape{
	width: 100%;
	height:45px;
	margin-top: 10px;
	margin-bottom: 0px;
	background-color: #2b4a6d;
	text-align: center;
	color: white;
}

#rodape h3{
	/*border:1px solid white;*/
	display: inline;
}

#direitos{
	/*border:1px solid white;*/
	padding-top: 15px;
}